{% load i18n aldryn_forms_tags %}

<div class="control-group">
    <div class="form-group floating-label-form-group controls">
	{% if field %}
	{% comment %}
	{# available conditions #}
	{% if field.field.required %} required{% endif %}
	{% if field.errors %} error{% endif %}
	{% endcomment %}

	<label for="{{ field.id_for_label }}">
            {{ field.label }}
            {% if field.field.required %}
            <abbr title="{% trans "Required field" %}">*</abbr>
            {% endif %}
	</label>

	{% render_form_widget field class="form-control" %}

	{% if field.errors %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
	{% endif %}

	<p class="help-block text-danger">{{ field.help_text }}</p>
	{% endif %}

    </div>
</div>
