{% load static staticfiles i18n cms_tags sekizai_tags menu_tags thumbnail%}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% page_attribute 'meta_description' %}">
    <meta name="author" content="">

    <title>
      {% block title %}
      {% page_attribute "page_title" %} - {{ request.site.name }}
      {% endblock title %}
    </title>

<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom styles written for Zdravost  -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

  <!-- django CMS -->
  {% render_block "css" %}

  <!-- Divio Cloud -->
  {{ ALDRYN_SNAKE.render_head }}

  <!-- django CMS toolbar adjustment -->
  {% if request.toolbar %}
  <style>
    .cms-toolbar-expanded .navbar.fixed-top {
        margin-top: 45px;
    }
  </style>
  {% endif %}
  </head>

  <body>
    <!-- django CMS Toolbar -->
    {% cms_toolbar %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
	<a class="navbar-brand" href="/">{{ request.site.name }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
	    <ul class="navbar-nav ml-auto">
		{% with dropdown=True %}
		{% show_menu 0 100 100 100 "includes/menu.html" %}
		{% endwith %}
	    </ul>
	</div>
      </div>
    </nav>
    
    {% block header %}
    <!-- Page Header -->
    {% render_model_block request.current_page.pagefieldextension %}
    <header class="masthead" style="background-image: url('{% with image=request.current_page.pagefieldextension.background_image %}{% if image %}{% thumbnail image 1200x400 crop subject_location=image.subject_location %}{% else %}{% static 'img/about-bg.jpg' %}{% endif %}{% endwith %}')">
	<div class="overlay"></div>
	<div class="container">
	    <div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
		    <div class="page-heading">
			<h1>{% render_model request.current_page "page_title" %}</h1>
			{% if request.current_page.pagefieldextension.subtitle %}
			<hr class="small">
			<span class="subheading">
			    {{ request.current_page.pagefieldextension.subtitle }}
			</span>
			{% endif %}
		    </div>
		</div>
	    </div>
	</div>
    </header>
    {% endrender_model_block %}
    {% endblock %}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <hr>

    <!-- Test placeholder. Should be deleted. -->
    {% placeholder test or %}
    <div></div>
    {% endplaceholder %}

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
	    <p class="copyright text-muted">Copyright &copy; {{ request.site.name }} {% now "Y" %}</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

    <!-- django CMS -->
    {% render_block "js" %}

    <!-- Divio Cloud -->
    {{ Aldryn_SNAKE.render_tail }}
  </body>

</html>
