<a href="{{ instance.url_link }}"
   {% if instance.link_title %} title="{{ instance.link_title }}"{% endif %}>
    <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab {{ instance.icon }} fa-stack-1x fa-inverse"></i>
    </span>
</a>
