{% load i18n %}

{% if is_paginated %}
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
            {% trans "Previous" %}
        </a>
    </li>
    {% endif %}

    {% if paginator.num_pages > pagination.pages_start %}
    {% if page_obj.number > pagination.pages_visible_total %}
    <li><a href="?page={{ page_obj.number|add:pagination.pages_visible_total_negative }}">...</a></li>
    {% endif %}

    {% for num in paginator.page_range %}
    {% if num == page_obj.number %}
    <li class="active page-item"><span class="page-link">{{ num }}</span></li>
    {% elif num > page_obj.number|add:pagination.pages_visible_total_negative and num < page_obj.number|add:pagination.pages_visible_total %}
    <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.number < paginator.num_pages|add:pagination.pages_visible_negative %}
    <li class="page-item"><a href="?page={{ page_obj.number|add:pagination.pages_visible_total }}" class="page-link">...</a></li>
    {% endif %}
    {% else %}
    {% for num in page_obj.paginator.page_range %}
    {% if num == page_obj.number %}
    <li class="active page-item"><span class="page-link">{{ num }}</span></li>
    {% else %}
    <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                    {% trans "Next" %}
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
